<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blogsystem.mapper.BoardMapper" >
    <insert id="insertBoard" parameterType="com.blogsystem.entity.Board" >
        insert into board(name, photo, content, date, lc,status) VALUES
        (#{name},#{photo},#{content},#{date},#{lc},#{status})
    </insert>

    <update id="updateBoard">
        update board b set b.status = #{status} where b.id = #{id}
    </update>
    <delete id="deleteBoard">
        delete from board where id = #{id}
    </delete>

    <select id="queryAll" resultType="com.blogsystem.entity.Board">
         SELECT   * FROM board b ORDER BY b.id DESC
    </select>
    <select id="selMaxLc" resultType="java.lang.Integer">
        SELECT MAX(board.lc) FROM board
    </select>

    <select id="getBoardNotCheck" resultType="com.blogsystem.entity.Board">
        SELECT * FROM board b WHERE b.status = 0 ORDER BY b.id desc
    </select>
    <select id="getBoardById" resultType="com.blogsystem.entity.Board">
        SELECT * FROM board b WHERE b.status = 0 AND b.id= #{id} ORDER BY b.id DESC
    </select>
    <select id="selectCountByStatus" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM board b WHERE b.status = 0
    </select>


</mapper>