<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blogsystem.mapper.CategoryMapper" >
    <insert id="insertCategory" parameterType="com.blogsystem.entity.Category">
        insert into category (categoryname,deprecated) values (#{categoryname},#{deprecated})
    </insert>
    <update id="update">
        update category set categoryname = #{categoryname}, deprecated =#{deprecated} where id = #{id}
    </update>
    <delete id="delete">
        delete from category where id = #{id}
    </delete>
    <select id="queryAllCategory" resultType="com.blogsystem.entity.Category">
        select * from category
    </select>
    <select id="getCate" resultType="com.blogsystem.entity.Category">
         select * from category where id = #{id}
    </select>
</mapper>